.venv/
cache/
__pycache__/
**/*.mp4
**/*.env
**/*.pdf
**/*.xlsx
week_02_running_loop/*.txt
week_02_running_loop/*.log
week_02_running_loop/*.gpx
week_02_running_loop/*.html
week_04_sweeney/*.db
week_04_sweeney/*.mp4
week_04_sweeney/credentials.json
week_04_sweeney/token.json
week_06_madame_garderobe/credentials.json
week_06_madame_garderobe/token.json
week_06_madame_garderobe/garderobe/
week_06_madame_garderobe/garderobe.db
week_06_madame_garderobe/.env
week_12_cece/data/
week_12_cece/outputs/
week_12_cece/tmp/
week_12_cece/node_modules/
week_13_not_my_name/*
week_14_lugjoury/*

